
div {  
    box-sizing: border-box; 
    width: 100%; 
    border: 100px solid black; 
} 
   
form {                                         
    margin: 0 auto; 
    width: 600px;
    text-align: center;
    border: 1px Solid black;
    background-color: aliceblue;
}

form>p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
input{
    width:auto;
    height:30px;
    margin-left: 2%;
    float: inline-end;
    border-radius:4px;
    border:1px solid black;
   
}
.alert{
    color: red;
}
#submit{
    background-color: rgb(190, 149, 72);
    width:150px;
    height:30px;
    border:2px solid black;
    border-radius:10px;
    font-weight: bolder;
}