   
div {  
    box-sizing: border-box; 
    width: 100%; 
    border: 100px solid black; 
} 
body{
    background-color: rgb(175, 165, 165);
}
p{
    color: green;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
input{
    width: 350px;
    margin-left: 2%;
    float: inline-end;
    outline:none;
}
.alert{
  
    color: orangered;
    font-weight: 900;
}
#subbtn{
    width: 60px;
    background-color: orangered;
    border: 1px solid black;
    color: white;
    padding: 5px;
    cursor:  pointer;
}

table{
    width: 100%;
    border-spacing: 0 25px;
}
td{
    padding: 10px;
    text-align: center;
}
